<a href="https://colab.research.google.com/github/nguyenvandien2003/baitapmoi/blob/main/baitapvevonglap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1: Print First 10 natural numbers using while loop

In [9]:
x = 1
while(x <= 10):
     print(x)
     x += 1

1
2
3
4
5
6
7
8
9
10

2:Print the following pattern

In [16]:
hàng = 5
for a in range(0, hàng + 1):
    for b in range(hàng - a, 0, -1):
        print(b, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

3: Calculate the sum of all numbers from 1 to a given number

In [18]:
number3 = int(input("Number: "))
sum3 = 0
for i in range(1, number3 + 1):
  sum3 = sum3 + i
print("tổng các số là:", sum3)

Number: 3
tổng các số là: 6

4: Write a program to print multiplication table of a given number with natural numbers
from 1 to 10.

In [59]:
number4 = int(input("Number: "))

print("bảng nhân ", number4)
for i in range(1, 11):
   print(number4,"X",i,"=",number4 * i)

Number: 5
bảng nhân  5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

5: Display numbers from a list using loop

In [23]:
list1 = [1, 3, 9, 4, 5, 6 ,7,8]
for i in list1:
  print(i)

1
3
9
4
5
6
7
8

6: Count the total number of digits in a number

In [26]:
number6 = int(input("Number:"))
count = 0
while(number6 > 0):
    count = count+1
    number6 = number6//10
print("tổng số chữ số trông một số là:", count)

Number:123456
tổng số chữ số trông một số là: 6

7: Print list in reverse order using a loop

In [27]:
list1 = [1, 3, 5, 7, 100, 123,"abc"]
for i in reversed(list1):
  print(i)

abc
123
100
7
5
3
1

8: Display numbers from -10 to -1 using for loop

In [28]:
for i in range(-10, 0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

9:Use else block to display a message “Done” after successful execution of for loop

In [31]:
for i in range(10):
 print(i)
else:
  print("done")

0
1
2
3
4
5
6
7
8
9
done

10:Write a program to display all prime numbers within a range

In [40]:
start1 = int(input("Number start: "))
end1 = int(input("Number end: "))
print("số nguyên tố giữa", start1, "and", end1, )

for a in range(start1, end1 + 1):
    if a > 1:
        for i in range(2, a):
            if (a % i) == 0:
                break
        else:
            print(a)

Number start: 10
Number end: 50
số nguyên tố giữa 10 and 50
11
13
17
19
23
29
31
37
41
43
47

11: Display Fibonacci series up to 10 terms

In [42]:
number1, number2 = 0, 1
print("Chuỗi Fibonacci:")
for i in range(10):
    print(number1, end=" ")
    res = number1 + number2
    number1 = number2
    number2 = res

Chuỗi Fibonacci:
0 1 1 2 3 5 8 13 21 34

12:Find the factorial of a given number

In [51]:
number1 = int(input("Number: "))
factorial = 1
while number1 < 0:
    print("nhập một số không âm")
    number1 = int(input("Number: "))
if number1 == 0:
    print("Factorial 0 is 1")
else:
    for i in range(1, number1 + 1):
        factorial = factorial * i
  
    print("giai thừa", number12, ":", factorial)

Number: 10
giai thừa 10 : 3628800

13:Reverse a given integer number

In [53]:
number1 = int(input("Number: "))
rev_number = 0
print("Entered Number: ", number1)
while number1 > 0:
    a = number1 % 10
    rev_number = (rev_number * 10) + a
    number1 = number1 // 10
print("Reverse Number: ", rev_number)

Number: 1234
Entered Number:  1234
Reverse Number:  4321

14: Use a loop to display elements from a given list present at odd index positions

In [58]:
list14 = ["xin", "chào", "mọi", "người", 1, 2, 1000, 10000000, 234, "a"]
for i in list14[1::2]:
    print(i, end=", ")

chào, người, 2, 10000000, a,