<a href="https://colab.research.google.com/github/nguyenvandien2003/baitapmoi/blob/main/baitap2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Kiểu Tuples

In [48]:
tup1 = ('physics', 'chemistry', 1997, 2021)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b","c", "d"
print(tup1,tup2,tup3)

('physics', 'chemistry', 1997, 2021) (1, 2, 3, 4, 5) ('a', 'b', 'c', 'd')

In [46]:
tup1 = ('physics', 'chemistry', 1997, 2021)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ", tup1[0])
print("tup2[1:5]:", tup2[1:5])

tup1[0]:  physics
tup2[1:5]: (2, 3, 4, 5)

In [3]:
tup1 = (12, 34.56)
tup2 =('abc', 'xyz')
tup3 = tup1 + tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

In [45]:
tup = ('physics','chemistry',1997,2021)
print(tup)
print("After deleting tup : ")
print(tup)

('physics', 'chemistry', 1997, 2021)
After deleting tup :
('physics', 'chemistry', 1997, 2021)

In [54]:
len((1, 2, 3))
(1, 2, 3) + (4, 5, 6)
3 in (1, 2, 3)

True

In [9]:
#Tuples - Indexing & Slicing
T = ('Red', 'Yellow', 'Green')
print(T[2])
print(T[-2])
print(T[1:])

Green
Yellow
('Yellow', 'Green')

In [10]:
list3 = (3,"a")
len(list3)

2

In [12]:
list1 = (1,2,3,4,5)
min(list1)

1

In [13]:
max(list1)

5

Kiểu Dictionary

In [55]:
dict1 = {'Name': 'dien', 'Age': 18, 'Class': 'thirteen'}
print("dict['Name']: ", dict1['Name'])
print("dict['Age']: ", dict1['Age'])

dict['Name']:  dien
dict['Age']:  18

In [56]:
dict1 = {'Name': 'dien', 'Age': 18, 'Class': 'thirteen'}
dict1['Age'] = 18;
dict1['School'] = "DPS School";
print("dict['Age']: ", dict1['Age'])
print("dict['School']: ", dict1['School'])

dict['Age']:  18
dict['School']:  DPS School

In [57]:
dict1 = {'Name': 'dien', 'Age': 18, 'Class': 'thirteen'}
del dict1['Name'] 
dict1.clear() 
del dict1

In [19]:
d1 = (2,"a")
len(d1)

2

In [59]:
str(d1)

'(1, 2, 3, 4, 5, 6, 7)'

Kiểu Set

In [22]:
Set = set(["a","b", "c"])
print("Set: ")
print(Set)
Set.add("d")
print("\nSet after adding: ")
print(Set)

Set:
{'c', 'b', 'a'}

Set after adding:
{'c', 'b', 'd', 'a'}

In [ ]:
people = {"Jay", "Idrish", "Archi"}
print("People: ")
print(people)
people.add("Daxit")
for i in range(1, 6)
print("nSet afteradding element:",end = " ")
print(people)

In [26]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun")
print(Days)

{'Sat', 'Fri', 'Mon', 'Tue', 'Thu', 'Wed'}

In [27]:
set1 = {1,2,3,4,5,6}
print("Initial set")
print(set1)

Initial set
{1, 2, 3, 4, 5, 6}

Kiểu Date & Time - ngày giờ

In [38]:
import time; 
ticks = time.time()
print("Number of ticks since 2:30am, november 15, 2021:", ticks)
localtime = time.localtime(time.time())
print("Local current time :", localtime)

Number of ticks since 2:30am, november 15, 2021: 1636963025.7651646
Local current time : time.struct_time(tm_year=2021, tm_mon=11, tm_mday=15, tm_hour=7, tm_min=57, tm_sec=5, tm_wday=0, tm_yday=319, tm_isdst=0)

In [37]:
import time;
localtime = time.asctime( time.localtime(time.time()) )
print("Local current time :", localtime)

Local current time : Mon Nov 15 07:56:54 2021

In [40]:
import calendar
cal = calendar.month(2021, 11)
print("Here is the calendar:")
print(cal)

Here is the calendar:
   November 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30